h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol,
dl {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    font-family: Roboto, sans-serif;
    background: radial-gradient(rgb(167, 86, 0), rgb(206, 112, 12), rgb(255, 153, 43));
}

#container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

#container p {
    font-size: 32px;
    color: white;
    text-align: center;
}

button {
    padding: 12px 24px;
    width: 280px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background-color: rgb(155, 79, 253);
    font-size: 20px;
    cursor: pointer;
    color: white;
    transition: all 0.4s ease;
}

button:hover {
    background-color: rgb(92, 43, 155);
    box-shadow: 0px 0px 16px rgb(92, 43, 155);
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text {
    height: 320px;
}

#container .author {
    margin-top: 24px;
    font-size: 24px;
    text-align: start;
}